<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Inspired by a research trip to Athabasca Glacier in the Canadian Rockies and while serving as Artist in Residence at the Peter Wall Institute, University of British Columbia (UBC), artist Deborah Carruthers created 'slippages' an interdisciplinary project that combines sound, science, and visual art for the purposes of increasing public awareness of climate crisis and inciting action.">
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <link rel='canonical' href='{{ page.url | absolute_url }}'/>
  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>
  <meta name="google-site-verification" content="f4K1znnU3G8lay60gCq-0o7ST6XBjoedtHC2vGoSeTg" />
  {% include analytics.html %}
</head>
